<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>StreamFinder - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basePage.css') }}">
  </head>

  <body>
    <div id='HeaderAndBodyWrapper'>
      {% block header %}
      <div id='Header'>
        <div class='HeaderItem'>
          <a href="{{ url_for('index') }}">Main Page</a>
        </div>
        <div class='HeaderItem'>
          <a href="{{ url_for('viewMedias') }}">Media</a>
        </div>
        <div class='HeaderItem'>
          <a href="{{ url_for('viewActors') }}">Actors</a>
        </div>
        <div class='HeaderItem'>
          <a href="{{ url_for('viewDirectors') }}">Directors</a>
        </div>
        <div class='HeaderItem'>
          <a href="{{ url_for('viewGenres') }}">Genres</a>
        </div>
        <div class='HeaderItem'>
          <a href="{{ url_for('viewStreamingServices') }}">Streaming Services</a>
        </div>
        <div class='HeaderItem'>
          <a href="{{ url_for('search') }}">Search</a>
        </div>
        {% if 'userID' in session %}
        <div class='HeaderItem'>
          <a href="{{ url_for('viewRatings') }}">View Ratings</a>
        </div>
        {% endif %}
        <div class='HeaderItem'>
          {% if 'userID' in session %}
          <p id="userInfo" style="display: none;">{{ userInfo }}</p>
          <script>
            var userID = "{{ session.get('userID') }}";
            window.sessionStorage.setItem('userID', userID);
            var UserInfo = JSON.parse(document.getElementById("userInfo").innerText);
            console.log(UserInfo);
          </script>
          <a href="{{ url_for('logout') }}" onclick="window.sessionStorage.removeItem('userID');">Logout</a>
          {% else %}
          <script>
            var userID = null;
            window.sessionStorage.removeItem('userID');
            var UserInfo = { "id": userID };
            console.log(UserInfo);
          </script>
          <a href="{{ url_for('auth') }}">Login</a>
          {% endif %}
        </div>
      </div>
      {% endblock %}

      <div id='Body'>
        {% block content %}

        {% endblock %}
      </div>
    </div>

    {% block footer %}
    <div id='Footer'>
      <div id='FooterContent'>
        <p>Fall 2021 CS 34800 Project by Noah Adams, Inbang Seo, and Colston Streit</p>
      </div>
    </div>
    {% endblock %}
  </body>

</html>