{% extends "basePage.html" %}
{% block title %} Genres {% endblock %}
{% block content %}

<b><p id="statusText" style="display: none;">{{ status }}</p></b>

<h1>Genres</h1>

<div id="genreList">
  <table id="genreListTable">
    <tr><th colspan="2">Genres</th></tr>
    <tr><th>Name</th><th colspan="2">Description</th></tr>
    {%for genre in genres%}
    <tr>
      <td><a href="{{ url_for('viewAndUpdateGenre', genre_id=genre.getId()) }}">{{ genre.getName() }}</a></td>
      <td>{{ genre.getDescription() }}</td>
    </tr>
    {%endfor%}
  </table>
</div>

{% if 'userID' in session %}

<div id="addGenre">
  <h2>Add a New Genre:</h2>
  <form id="genreForm" method="POST" action="{{ url_for('submitGenre') }}" onsubmit="return submitGenre();">
    <label for="name">Name: </label>
    <input type="text" id="genreName" name="name" required><br><br>
    <label for="description">Description: </label>
    <textarea id="genreDescription" name="description"></textarea><br><br>
    <input type="submit" value="Submit Genre">
  </form>
</div>

<script>

  let p = document.getElementById("statusText");
  if (p.innerText !== "") {
    p.style.display = "block";
  }

  function toTitleCase(name) {
    return name.replace(/([^\W_]+[^\s-]*) */g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
  }

  function submitGenre() {
    let name = document.forms["genreForm"]["name"].value.trim();
    name = toTitleCase(name);
    document.forms["genreForm"]["name"].value = name;
    if (name == "") {
      alert("Name cannot be empty!");
      return false;
    }
    return true;
  }
</script>

{% endif %}

{% endblock %}