{% extends "basePage.html" %}
{% block title %} Main Page {% endblock %}
{% block content %}

    <h1>Welcome to Streaming Service Finder, {{ variable_from_python }}</h1>

    <div class="grid-container">
        <div id="mediaList">
            <table id="mediaListTable">
                <tr><th colspan="5">Recently added Movies and Shows</th></tr>
                <tr><th>Name</th><th>Release Year</th><th>Genre</th><th>Director</th><th>Average Rating</th></tr>
                {%for media in medias%}
                <tr>
                    <td><a href="{{ url_for('viewAndUpdateMedia', media_id=media.getId()) }}">{{ media.getName() }}</a></td>
                    <td>{{ media.getReleaseYear() }}</td>
                    <td><a href="{{ url_for('viewAndUpdateGenre', genre_id=media.getGenre().getId()) }}">{{ media.getGenre().getName() }}</a></td>
                    <td><a href="{{ url_for('viewAndUpdateDirector', director_id=media.getDirector().getId()) }}">{{ media.getDirector().getName() }}</a></td>
                    <td>{{ media.getAverageRating() }}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div id="topMediaList">
            <table id="topMediaListTable">
                <tr><th colspan="5">Highest Rated Movies And Shows</th></tr>
                <tr><th>Name</th><th>Release Year</th><th>Genre</th><th>Director</th><th>Average Rating</th></tr>
                {%for media in topMedia%}
                <tr>
                    <td><a href="{{ url_for('viewAndUpdateMedia', media_id=media.getId()) }}">{{ media.getName() }}</a></td>
                    <td>{{ media.getReleaseYear() }}</td>
                    <td><a href="{{ url_for('viewAndUpdateGenre', genre_id=media.getGenre().getId()) }}">{{ media.getGenre().getName() }}</a></td>
                    <td><a href="{{ url_for('viewAndUpdateDirector', director_id=media.getDirector().getId()) }}">{{ media.getDirector().getName() }}</a></td>
                    <td>{{ media.getAverageRating() }}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    <br><br>

    <div id="stats">
        <table id="statsTable">
            <tr>
                <th colspan="5">Site Statistics</th>
            </tr>
            <tr>
                <th>Genre Count</th>
            </tr>
            {%for number in genreStats%}
            <tr>
                <td>{{ number['name'] + ": " + number['COUNT(media_id)']|string }}</td>
            </tr>
            {%endfor%}
            <tr>
                <th>Total Media</th>
            </tr>
            <tr>
                <td>{{mediaCount}}</td>
            </tr>
        </table>
    </div>



{% endblock %}