{% extends "base.html" %}
{% block title %} Main Page {% endblock %}
{% block content %}

		<h1>Variable from Python:</h1>
		<p>{{ variable_from_python }}</p>


		<div id="exampleGETRequest">
			<h1>Example GET Request Form</h1>
			<!-- method = GET or POST; action = link (route) to submit to -->
			<form method="GET" action="/exampleGET">
				<label for="number">Number: </label>
				<input type="text" name="number"><br>
				<label for="multiplier">Multiplier</label>
				<input type="text" name="multiplier" onchange="this.form.action=`/exampleGET/${this.value}`;"><br>
				<label for="adder">Adder</label>
				<input type="text" name="adder"><br>
				<input type="submit" id="submit" value="Submit">
			</form>
		</div>

		<div id="examplePOSTRequest">
			<h1>Example POST Request Form</h1>
			<!-- method = GET or POST; action = link (route) to submit to -->
			<form method="POST" action="/examplePOST">
				<label for="firstName">First Name: </label>
				<input type="text" name="firstName"><br>
				<label for="lastName">Last Name: </label>
				<input type="text" name="lastName"><br>
				<input type="submit" id="submit" value="Submit">
			</form>
		</div>

{% endblock %}