{% extends "basePage.html" %}
{% block title %} Main Page {% endblock %}
{% block content %}

    <h1>Welcome to Streaming Service Finder, {{ variable_from_python }}</h1>

    <div class="grid-container">
        <div id="mediaList">
            <table id="mediaListTable">
                <tr><th colspan="5">Recently added Movies and Shows</th></tr>
                <tr><th>Name</th><th>Release Year</th><th>Genre</th><th>Director</th><th>Average Rating</th></tr>
                {%for row in recentlyAddedMediaRows%}
                <tr>
                    <td><a href="{{ url_for('viewAndUpdateMedia', media_id=row['media_id']) }}">{{ row['mediaName'] }}</a></td>
                    <td>{{ row['releaseYear'] }}</td>
                    <td><a href="{{ url_for('viewAndUpdateGenre', genre_id=row['genre_id']) }}">{{ row['genreName'] }}</a></td>
                    <td><a href="{{ url_for('viewAndUpdateDirector', director_id=row['director_id']) }}">{{ row['directorName'] }}</a></td>
                    <td>{{ row['averageRating'] }}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div id="topMediaList">
            <table id="topMediaListTable">
                <tr><th colspan="5">Highest Rated Movies And Shows</th></tr>
                <tr><th>Name</th><th>Release Year</th><th>Genre</th><th>Director</th><th>Average Rating</th></tr>
                {%for row in topMediaRows%}
                <tr>
                    <td><a href="{{ url_for('viewAndUpdateMedia', media_id=row['media_id']) }}">{{ row['mediaName'] }}</a></td>
                    <td>{{ row['releaseYear'] }}</td>
                    <td><a href="{{ url_for('viewAndUpdateGenre', genre_id=row['genre_id']) }}">{{ row['genreName'] }}</a></td>
                    <td><a href="{{ url_for('viewAndUpdateDirector', director_id=row['director_id']) }}">{{ row['directorName'] }}</a></td>
                    <td>{{ row['averageRating'] }}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    <br><br>

    <div id="stats">
        <table id="statsTable">
            <tr>
                <th colspan="5">Site Statistics</th>
            </tr>
            <tr>
                <th>Genre Count</th>
            </tr>
            {%for number in genreStats%}
            <tr>
                <td>{{ number['name'] + ": " + number['COUNT(media_id)']|string }}</td>
            </tr>
            {%endfor%}
            <tr>
                <th>Total Media</th>
            </tr>
            <tr>
                <td>{{mediaCount}}</td>
            </tr>
        </table>
    </div>



{% endblock %}