{% extends "basePage.html" %}
{% block title %} Search {% endblock %}
{% block content %}

<b><p id="statusText" style="display: none;">{{ status }}</p></b>

<h1>Search Page</h1>

<p>Search the exact name of a movie, director, or actor!</p>

<form id="searchForm" method="POST" action="{{ url_for('search') }}" onsubmit="">
  <input type="text" id="streamingServiceName" name="search" value="" placeholder="Search here" required><br><br>

  <!-- Media Available -->
  {% if media %}
  <div class="mediaList">
    <table id="mediaListTable">
      <tr>
        <th>Name</th>
        <th>Release Year</th>
        <th>Director</th>
        <th>Sex</th>
        <th>Birthday</th>
        <th>Actors</th>
        </tr>
      <tr>
        <td>{{media.getName()}}</td>
        <td> {{media.getReleaseYear()}} </td>
        <td> {{media.getDirector().getName()}} </td>
        <td> {{media.getDirector().getSex()}} </td>
        <td> {{media.getDirector().getBirthDate()}} </td>
        <td class="cellArray">
          <table>
            <tr>
              <th>Name</th>
              <th>Sex</th>
              <th>Birthday</th>
            </tr>
             {% for actor in media.getStarringActors() %}
            <tr>

              <td> {{actor.getName()}} </td>
              <td> {{actor.getSex()}} </td>
              <td> {{actor.getBirthDate()}} </td>

            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>

    </table><br>
  </div>
  {% endif %}

  <!-- Actor Available -->
  {% if actor  %}
  <div class="mediaList">
    <table id="mediaListTable">
      <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Birthday</th>
        <th>Movies</th>
        </tr>
      <tr>
        <td>{{actor.getName() or director.getName() }}  </td>
        <td> {{actor.getSex() or director.getSex()}} </td>
        <td> {{actor.getBirthDate() or director.getBirthDate()}}</td>
        <td class="cellArray">
          <table>
            <tr>
              <th>Name</th>
              <th>Release Year</th>
              <th>Genre</th>
              <th>Director</th>
            </tr>

             {% for media in actor.getStarredMedias() %}
            <tr>
              <td> {{media.getName()}} </td>
              <td> {{media.getReleaseYear()}} </td>
              <td> {{media.getGenre().getName() }} </td>
              <td> {{media.getDirector().getName()}} </td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>

    </table><br>
  </div>
  {% endif %}

  <!-- Director Available -->
  {% if director  %}
  <div class="mediaList">
    <table id="mediaListTable">
      <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Birthday</th>
        <th>Movies</th>
        </tr>
      <tr>
        <td>{{director.getName() or director.getName() }}  </td>
        <td> {{director.getSex() or director.getSex()}} </td>
        <td> {{director.getBirthDate() or director.getBirthDate()}}</td>
        <td class="cellArray">
          <table>
            <tr>
              <th>Name</th>
              <th>Release Year</th>
              <th>Genre</th>
              <th>Actors</th>
            </tr>

             {% for media in director.getDirectedMedias() %}
            <tr>
              <td> {{media.getName()}} </td>
              <td> {{media.getReleaseYear()}} </td>
              <td> {{media.getGenre().getName() }} </td>
              <td>
                {% for actor in media.getStarringActors() %}
                {{actor.getName()}},
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>

    </table><br>
  </div>
  {% endif %}



  <input type="submit" value="Search">
</form>

<style>
  /* .cell{
    border: 1px solid black;
  }
  .cellArray{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  } */
</style>

<script>
  let p = document.getElementById("statusText");
  if (p.innerText !== "") {
    p.style.display = "block";
  }
</script>
{% endblock %}