{% extends "basePage.html" %}
{% block title %} {{ service.getName() }} {% endblock %}
{% block content %}

<b><p id="statusText" style="display: none;">{{ status }}</p></b>

<h1>View/Edit Streaming Service</h1>

<div id="streamingServiceList">
    {%for service in streamingServices%}
    <span>{{ service.getName() }}</span><br>
    {%endfor%}
</div>

<form id="streamingServiceForm" method="POST" action="{{ url_for('viewAndUpdateStreamingService', ss_id=service.getId()) }}"
  onsubmit="return submitStreamingService();">
  <label for="name">Name: </label>
  <input type="text" id="streamingServiceName" name="name" value="{{ service.getName() }}" required><br><br>

  <!-- Media Available -->

  <table>
    <tbody id="mediaList">
      <tr>
        <th colspan="2">Available Media</th>
      </tr>
      {% for media in service.getAvailableMedia() %}
      <tr>
        <td><a href="{{ url_for('viewAndUpdateMedia', media_id=media.getId()) }}">{{ media.getName() }}</a></td>
        <td><button type="button" onclick="mediaRemoved('{{ media.getId()}}', '{{ media.getName() }}');">Remove</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table><br>

  <label for="addMedia">Add Media Starred In: </label>
  <select id="addMediaList"
    onchange="mediaAdded(this.value, this.children[this.selectedIndex].innerText); this.selectedIndex = 0;">
    <option disabled selected>Select a media to add</option>
    {% for media in service.getUnavailableMedia() %}
    <option value="{{media.getId()}}">{{media.getName()}}</option>
    {% endfor %}
  </select><br><br><br>

  <input type="text" style="display: none;" id="availableMediaIds" name="availableMediaIds">


  <input type="submit" value="Submit Changes">
</form>
<script>
  let p = document.getElementById("statusText");
  if (p.innerText !== "") {
    p.style.display = "block";
  }

  function toTitleCase(name) {
    return name.replace(/([^\W_]+[^\s-]*) */g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
  }

  function submitStreamingService() {
    let name = document.forms["streamingServiceForm"]["name"].value.trim();
    name = toTitleCase(name);
    document.forms["streamingServiceForm"]["name"].value = name;
    if (name == "") {
      alert("Name cannot be empty!");
      return false;
    }
    return true;
  }
</script>

<script>
  let mediaList = document.getElementById('mediaList');
  let addMediaList = document.getElementById('addMediaList');

  let mediaIdResult = document.getElementById('availableMediaIds');
  let mediaIdArray = [];

  for (let i = 0; i < mediaList.children.length; i++) {
    let child = mediaList.children[i];
    let result = child.querySelector('a');
    if (result != null && result.href != null) {
      id = result.href.substring(result.href.lastIndexOf('/') + 1);
      mediaIdArray.push(id);
    }
  }
  mediaIdResult.defaultValue = JSON.stringify(mediaIdArray);

  function mediaAdded(id, name) {
    let index = -1;
    for (let i = 0; i < addMediaList.children.length; i++) {
      let child = addMediaList.children[i];
      if (child.innerText == name) {
        index = i;
        break;
      }
    }
    addMediaList.removeChild(addMediaList.children[index]);
    let buttonHTML = `<button type="button" onclick="mediaRemoved('${id}', '${name}')">Remove</button>`;
    mediaList.innerHTML += `<tr><td><a href="/view/media/${id}">${name}</a></td><td>${buttonHTML}</td></tr>`;
    mediaIdArray.push(id);
    mediaIdResult.defaultValue = JSON.stringify(mediaIdArray);
  }

  function mediaRemoved(id, name) {
    addMediaList.innerHTML += `<option value="${id}">${name}</option>`;
    let index = -1;
    let rows = mediaList.getElementsByTagName("tr");
    for (let i = 0; i < rows.length; i++) {
      let child = rows[i];
      let result = child.querySelector('a');
      if (result != null && result.innerText == name) {
        index = i;
        break;
      }
    }
    mediaList.removeChild(rows[index]);
    mediaIdArray.splice(mediaIdArray.indexOf(id), 1);
    mediaIdResult.defaultValue = JSON.stringify(mediaIdArray);
  }
</script>

{% endblock %}